body{  background-color:#fff; text-align: right;}
/*background-color: #e2e3e6;*/
.header{ background-color:#fff; height: 150px; width: 1200px;  padding-right: 7px;
    margin:auto; position:relative; }
.logoheader{height:150px; width:600px;}
/*.logo{  float: right; height:150px; }
h1.textlogo{ font-size: 40px;   float:right;  padding-top:20px; padding-right:20px;}
*/
h1.textlogo{ font-size: 40px;   float:right;  padding-top:20px; padding-right:20px;}

.navbar{background-color:#AED6F1; height: 40px; width: 1200px;  padding-right:7px;
    border-top-right-radius: 25px; border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px; margin:auto; }





.cont{ background-color:#fff; height:2600px; width: 1200px;  padding-right: 7px;
    margin:auto; position:relative;}

.cont2{ background-color:#fff; height: 2580px; width: 1200px; 
    margin-top:10px; float:left; font-family: 'Lateef', cursive;
font-family: 'Tajawal', sans-serif; padding-top:20px; padding-right:20px; font-size: 20px;}

.cont3{background-color:#AED6F1; height: 60px; width: 1200px; 
    margin-top:  10px; float:left;  border:solid 1px; border-color:#e5e5e5;font-family: 'Lateef', cursive;
font-family: 'Tajawal', sans-serif;}

.footer{ background-color:#3f3f3f; color:#fff; height: 300px; width: 1200px;  padding-right: 7px; margin: 10px;
         margin:auto;position:relative; margin-top:10px; padding-right:0px}

.foote{background-color:; height:200px; width: 350px; font-size: 15px; margin-top: 40px; float: right; 
    margin-right:40px; text-align:right; }

#aboutcompany{text-align:center; 
                font-family: 'Lateef', cursive;
                font-family: 'Tajawal', sans-serif;
                 font-size:25px}
#contact p{text-align:center;
             margin-left:80px;
             font-family: 'Lateef', cursive;
            font-family: 'Tajawal', sans-serif;
             font-size:20px}
#divmap p{ text-align:center; 
                font-family: 'Lateef', cursive;
                font-family: 'Tajawal', sans-serif; 
                font-size:20px}


.copyright{ background-color: #353535; color:#fff; height: 30px; width: 1200px;  padding-right: 7px; margin:10px;
         margin:auto;  }

 .home{ height: 25px; width: 40px;  padding-left: 0px; margin-right: 50px; }


#face{ height:50px; width: 50px; opacity:1; margin:5px;}

#whats{ height:50px; width: 50px; opacity:1; margin:5px;}

#twitter{ height:50px; width: 50px; opacity:1; margin:5px;}

#instagram{ height:50px; width: 50px; opacity:1; }
/*
#face:hover{opacity: 0.7;transform: rotate(360deg)}
#whats:hover{opacity: 0.7;}
#twitter:hover{opacity: 0.7;}
#instagram:hover{opacity: 0.7;}
*/
.F:hover #face{transform: rotate(360deg);  transition: 1.3s;}
.T:hover #twitter{transform: rotate(360deg);  transition: 1.3s;}
.W:hover #whats{transform: rotate(360deg);  transition: 1.3s;}
.I:hover #instagram{transform: rotate(360deg);  transition: 1.3s;}

ul{ position: absolute; text-align: center; position: absolute; list-style: none; padding-left: 570px;
    margin-top: 0px; margin-right:35px;}


/*/////////////////////////////////////////////////////////*/
.nav{ list-style-type: none; margin:0px; padding:0px; }

.nav li{ float: right; width: 180px; height: 40 px; background-color:; opacity:0.8;
line-height: 40px; text-align: center; font-size: 20px; margin-right: 5px; }

.nav li a{ text-decoration: none; color:black;  }

.nav li a:hover{ color: #fff; }

.nav li:hover ul li{ display: block; }

/*/////////////////////////////////////////////*/
.callnowbutton {
    display: block;
    position: fixed;
    text-decoration: none;
    z-index: 2147483647;
    width: 100%;
    right: 0;
    bottom: 0;
    height: 60px;
    border-top: 1px solid #2dc62d;
    border-bottom: 1px solid #006700;
    text-shadow: 0 1px #006700;
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: 120%;
    overflow: hidden;
    padding-right: 0px;
    background: #009900;
    display: flex;
    justify-content: center;
    align-items: center;

}

@media (max-width:480px) {.header{ width: 380px; }}
@media (max-width:480px) {h1.textlogo{ font-size: 20px; padding-top:50px;}}
@media (max-width:480px) {.cont2 h2{ font-size:20px }}
@media (max-width:480px) {.M{ width:200px; height:250px }}
@media (max-width:480px) {.cont2 p{ font-size:15px }}
/*
@media (max-width:480px) {.navbar{ display:none}}
@media (min-width:480px) {.navbarmobile{display:none }}
*/
@media (max-width:480px) {.navbarmobile{width:350px;}}
@media (max-width:480px) {.Slider{ width: 380px; }}
@media (max-width:480px) {.Slider img{ width: 380px; margin-right:0px;}}
@media (max-width:480px) {.marq{ width: 380px; }}
@media (max-width:480px) {.cont{ width: 380px; }}
@media (max-width:480px) {.cont2{ width: 380px; }}
@media (max-width:480px) {.photo{ width: 380px; height: 650px; } }
@media (max-width:480px) {.photo img{ width: 300px; height: 200px; padding-top:5px;   padding-left:120px;} }
@media (max-width:480px) {.footer{ width:100%;height: 1000px;} }
@media (max-width:480px) {.foote{ width:80%; height:200px; font-size: 15px; margin-top: 120px; } }
@media (max-width:480px) {.copyright{ width:100%; }}
@media (min-width:480px) {.callnowbutton{display:none }}
/*
@media (max-width:480px) {#divmap{display: none;}}
*/
@media (max-width:480px) {.map{width:100%;}} 


@media (max-width:720px) {.header{ width:100%; }}
@media (max-width:720px) {.logoheader{ width:100%; }}
@media (max-width:720px) {h1.textlogo{ font-size: 18px; padding-top:60px}}

@media (max-width:720px) {.cont2 h3{ font-size:25px }}
@media (max-width:720px) {.cont2 h5{ font-size:18px }}

@media (max-width:720px) {.cont2 img{ width:180px; height:80px;float:right; margin-right:70px; }}

@media (max-width:720px) {.navbar{ display:none}}
@media (min-width:720px) {.navbarmobile{display:none }}
@media (max-width:720px) {.navbarmobile{width:100%;}}
@media (max-width:720px) {.menumobile{width:30px; height:40px;}}

@media (max-width:720px) {.Slider{ width:100%; }}
@media (max-width:720px) {.Slider img{ width:100%; margin-right:0px;}}
@media (max-width:720px) {.marq{ width:100%; }}
@media (max-width:720px) {.cont{ width:100%; height: 3670px;}}
@media (max-width:720px) {.cont2{ width:100%;  margin-left:5px;}}

@media (max-width:720px) {.input{ width:100%; }}
@media (max-width:720px) {form{margin-right:10px;}}

@media (max-width:720px) {.cont3{ display:none; }}
@media (max-width:720px) {.photo{ width:100%; height: 650px; } }
@media (max-width:720px) {.photo img{ width:100%; height: 200px; padding-top:5px;   padding-left:120px;} }
@media (max-width:720px) {.footer{ width:100%;height: 1050px;} }
@media (max-width:720px) {.foote{ width:80%; height:300px; font-size: 15px; margin-top: 10px; } }
@media (max-width:720px) {.copyright{ width:100%; }}
@media (min-width:720px) {.callnowbutton{display:none }}
@media (max-width:720px) {.map{width:100%; height:300px;}}
@media (max-width:720px) {#contact{padding-top:50px;}}
@media (max-width:720px) {#contact p{text-align:center; margin-left:0px;}}

/*////////////////////////////////////////////////////

/* The sidebar menu */
.sidebar {
  height: 100%; 
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
    float:right;
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
    width: 60px;
    height:60px
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  
    margin-left:5px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}





.navbarmobile{background-color:#fff; height: 65px; position: relative; padding-right:7px; margin:auto;}
.menumobile{background-color:; height: 60px; width: 70px; float:left;
     margin-top:5px;}

 img .menuicons{height:60px; width:60px; margin-left:5px;}
/*//////////////////////////////////////////////////////////////*/
